<html>
  <head>
    <title>Twitter</title>
  </head>
  <body id="page">
   <h2>ツイート一覧</h2> 

 
<% @tweets.each do |t|%>
  < <%= User.find(t.user_id).uid %> >
<br/>
  <%= t.message %>&ensp;
  <%= (Time.current - t.tdate).to_i / 60 %>分前&ensp;
  
  <% if t.liked?(current_user) %>
    <%= link_to 'いいね削除', like_path(t), method: :delete %>
  <% else %>
    <%= link_to 'いいね', likes_path(tweet_id: t.id), method: :post %>
  <% end %>
  &ensp;
  <% if current_user.id == t.user_id %>
    <%= link_to '削除', tweet_path(t), method: :delete, data: { confirm: '削除ok?' } %>
  <% end %>
  &ensp;
  <%= link_to '表示', tweet_path(t) %>
  &ensp;
  <%= link_to '編集', edit_tweet_path(t) %>
  <br/><br/><hr><br/>
<% end %>
<p><%=link_to 'ツイート', new_tweet_path %></p>
<p><%=link_to 'ユーザ一覧', users_path %></p>
<p><%= link_to 'ログアウト', tops_logout_path %></p>
 </body>
</html>



