<% if @tweet.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
  <% @tweet.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<br/>
<%= form_for @tweet do |f| %>
 <%= f.text_area :message, size: "50x4" %>
 <% @tweet.tdate = Time.current %>
 <%= f.hidden_field :tdate %><br/>
 <%= f.submit 'ツイート' %>
<% end %>
