<%= form_for @user, url: {action: "create"} do |f| %>
  <%= f.label :uid, 'ユーザID' %>
  <%= f.text_field :uid %>
  <%= f.label :pass, 'パスワード' %>
  <%= f.password_field :pass %>
  <%= f.submit '登録' %>
<% end %>